@model Core_MaktabShop.Domain.Core.ProductAgg.DTOs.ProductDto

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "ویرایش محصول";
}

<h2>ویرایش محصول</h2>

<form asp-action="Edit" method="post" class="row g-3">
    <input type="hidden" asp-for="Id" />

    <div class="col-md-6">
        <label>نام</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="col-md-6">
        <label>دسته‌بندی</label>
        <input asp-for="CategoryId" class="form-control" required />
    </div>

    <div class="col-md-4">
        <label>قیمت</label>
        <input asp-for="Price" class="form-control" required />
    </div>

    <div class="col-md-4">
        <label>موجودی</label>
        <input asp-for="Stock" class="form-control" required />
    </div>

    <div class="col-md-4">
        <label>آدرس عکس</label>
        <input asp-for="ImageUrl" class="form-control" required />
    </div>

    <div class="col-12">
        <label>توضیحات</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
    </div>
</form>