@model ChangePasswordViewModel

<h2>تغییر رمز عبور</h2>

<form asp-action="ChangePassword" method="post">
    <div>
        <label>رمز فعلی</label>
        <input asp-for="OldPassword" type="password" />
    </div>
    <div>
        <label>رمز جدید</label>
        <input asp-for="NewPassword" type="password" />
    </div>
    <div>
        <label>تکرار رمز جدید</label>
        <input asp-for="ConfirmNewPassword" type="password" />
    </div>
    <button type="submit">بروزرسانی رمز</button>
</form>