@{
    ViewData["Title"] = "سفارش ثبت شد";
}

<h2>سپاس! سفارش شما ثبت شد.</h2>
<p>سفارش شما با موفقیت ثبت گردید. از خرید شما سپاسگزاریم.</p>
<a asp-controller="Home" asp-action="Index" class="btn">بازگشت به صفحه اصلی</a>